:root {
	font-family: sans-serif;
	--important-fill: red;
	--lower-fill: blue;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--important-fill: salmon;
		--lower-fill: lightblue;
	}
}

.svg-defs {
	display: none;
}

.svg-defs #icon-normal {
	fill: CanvasText;
}

.svg-defs #icon-important {
	fill: var(--important-fill);
}

.svg-defs #icon-lower {
	fill: var(--lower-fill);
}

.todo-items {
	list-style-type: none;
	padding-left: 0;
}

.todo-line {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.todo-bullet {
	width: 0.95em;
	height: 0.95em;
}

.due-date {
	font-weight: lighter;
}

.due-date.empty {
	display: none;
}
